hr
{
	border-top: none;
	width: 100%;
}

html, body
{
	background: url("../img/dust_scratches.png");
	background-repeat: both;
	scroll-behavior: smooth;
}

button::-moz-focus-inner
{
	border: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#cross
{
	height: 14px;
	vertical-align: baseline;
}

.header
{
	text-align: center;
}

.header .tooltip
{
	display: inline;
}

.header h1,h2,h3
{
	display: inline;
	vertical-align: middle;
}

.tooltip
{
	position: relative;
	display: inline-block;
	margin-bottom: -5px;
}

.tooltip .tooltip-text
{
	/* tooltip style */
	visibility: hidden;
	width: 250px;
	background-color: #555;
	color: #fff;
	text-align: left;
	padding: 5px;
	border-radius: 6px;

	/* tooltip position */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -125px;

	/* fade */
	opacity: 0;
	transition: opacity 0.2s;
}

/* tooltip arrow */
.tooltip .tooltip-text:after
{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text
{
	visibility: visible;
	opacity: 1;
}

.page
{
	position: relative;
}

.page footer
{
	display: block;
	width: 100%;
	padding: inherit;
	position: absolute;
	top: 10in;
	left: 0;
	margin-top: -40px;
}

.toc
{
	margin: 1em 0;
	border: 1px solid gray;
	padding: 1em;
	width: 100%;
}

.toc h3
{
	text-align: center;
}

.toc-link
{

}

.toc-description:before
{
	content: " - ";
}

.toc-description
{
	font-size: 0.9em;
}

/*Sections*/
.section
{
	width: 100%;
	padding: 10px;
	border-style: solid;
	border-color: darkgray;
	border-width: 1px;
	margin-bottom: 20px;
}

.section h3
{
	padding: none;
	margin: 0;
}

.section .description
{
	text-indent: 25px;
}

.section .links
{
	margin-left: 25px;
}

.links a:after
{
	content: ",";
}

.links a:last-child:after
{
	content: "";
}

.stacked-card
{
	/*width: 48%;*/
	width: 3.5in;
	height: 2in;
/*	margin: 20px;
	margin-bottom: 10px;*/
	margin: 0 auto;
	max-width: 500px;
	border: 1px solid;
	padding: 1.25em 1.5em 1.25em 1.5em;
	box-shadow: -4px -4px white, -5px -5px gray, -5px -3px gray, -3px -5px gray;
}

.completely-centered
{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.stacked-card table tr
{
	height: 1.75em;
}

.verse
{
	background: #fffff5;
}

blockquote
{
	background: #f5f5f5;
	margin: 1.5em 0;
	padding: 1em;
	position: relative;
}

blockquote:before, blockquote:after, blockquote>:first-child:before, blockquote>:first-child:after {
    position:absolute;
    width: 10%;
    height: 90%;
    border: 1px solid gray;
    content: '';
}
blockquote:before {top:0;left:0;border-width: 1px 0 0 1px}
blockquote:after {border-width: 0 0 0 0}
blockquote>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
blockquote>:first-child:after {border-width: 0 0 0 0}

blockquote p
{
	font-style: italic;
}

/*blockquote p:first-of-type:before
{
	content: '\201c';
}
blockquote p:last-of-type:after
{
	content: '\201d';
}*/

blockquote cite
{
	display: block;
	text-align: right;
	margin-top: 0.5em;
	color: #555;
}

blockquote cite:before
{
	content: "\2014 ";
}

/*Misc*/
.color-gray
{
	color: gray;
}

a.color-gray:hover
{
	color: gray;
	text-decoration: underline;
}

.small
{
	font-size: 10px;
}

.bold
{
	font-weight: bold;
}

.tapered-hr
{
	border: 0;
	height: 1px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 80%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 80%, rgba(255,255,255,0) 100%);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 80%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

@media print
{
	.tapered-hr
	{
		border: 1px solid black;
		border-top: none;
		height: initial !important;
	}

	.hidden-for-print
	{
		visibility: hidden;
	}
}
